<h1>Editar Automóvel</h1>

<div ng-controller="EditarAutomovelController as editarAutomovelCtrl">
	<form name="editarAutomovelCtrl.form" ng-submit="editarAutomovelCtrl.editarAutomovel()" novalidate>
	  <div class="form-group">
	    <label>Placa</label>
	    <input type="text" class="form-control" min-length="8" max-length="8" name="placa" ng-model="editarAutomovelCtrl.automovel.placa" required="required" mask="AAA-9999" placeholder="XXX-0000">
	  </div>
	  <div class="form-group">
	    <label>Modelo</label>
	    <input type="text" class="form-control" name="modelo" ng-model="editarAutomovelCtrl.automovel.modelo" required="required" placeholder="CIVIC LXR 2.0">
	  </div>
	  <div class="form-group">
	    <label>Ano</label>
	    <input type="text" class="form-control" name="ano" ng-model="editarAutomovelCtrl.automovel.ano" required="required" mask="9?" repeat="4" placeholder="0000">
	  </div>
	  <div class="form-group">
	    <label>Fabricante</label>
	    <input type="text" class="form-control" name="fabricante" ng-model="editarAutomovelCtrl.automovel.fabricante" required="required" placeholder="HONDA">
	  </div>
	  <div class="form-group">
	    <label>Capacidade do Tanque de Combustível</label>
	    <input type="number" class="form-control" name="capacidade" ng-model="editarAutomovelCtrl.automovel.capacidade" required="required" mask="9?" repeat="3" placeholder="00">
	  </div>
	  <div class="form-group">
	    <label>Valor atual do odômetro</label>
	    <input type="number" class="form-control" name="odometro" ng-model="editarAutomovelCtrl.automovel.odometro" required="required" mask="9?" repeat="6" placeholder="0000">
	  </div>
	  <button type="submit" class="btn btn-primary" ng-disabled="editarAutomovelCtrl.salvando">Salvar</button>
	  <span ng-if="editarAutomovelCtrl.salvo">Veículo editado com sucesso</span>
	  <span ng-if="editarAutomovelCtrl.erroForm">Existem problemas no formulário</span>
	</form>
</div>