<h1>Resumo das Informações dos Automóveis</h1>

<div ng-controller="InformacoesController as informacoesCtrl">
	<table class="table table-striped">
		<thead>
			<tr>	
				<th>Placa</th>
				<th>Consumo em litros/km</th>
				<th>Custo/km</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="automovel in informacoesCtrl.totaisPorPlaca">
				<td><a ui-sref="automoveisEditar({id: {{automovel.id}}})">{{ automovel.placa }}</a></td>
				<td>{{ automovel.litrosPorKm > 0 ? automovel.litrosPorKm.toFixed(3) : '-' }}</td>
				<td>{{ automovel.custoPorKm > 0 ? automovel.custoPorKm.toFixed(3) : '-' }}</td>
			</tr>
		</tbody>
	</table>
</div>