<div ng-controller="RelatorioAbastecimentosController as relatorioAbastecimentosCtrl">
	<form>
	  <div class="form-group">
	    <label>Placa</label>
		<input type="text" class="form-control" ng-model="relatorioAbastecimentosCtrl.filtro.placa" />
	  </div>
	  <div class="form-group">
	    <label>Data início</label>
		<input type="text" class="form-control" ng-model="relatorioAbastecimentosCtrl.dataInicio" />
	  </div>
	  <div class="form-group">
	    <label>Data fim</label>
		<input type="text" class="form-control" ng-model="relatorioAbastecimentosCtrl.dataFim" />
	  </div>
	 </form>

	<table class="table table-striped">
		<thead>
			<tr>	
				<th>Placa</th>
				<th>Data</th>
				<th>Tipo de Combustível</th>
				<th>Valor Odômetro</th>
				<th>Qtd Abastecida</th>
				<th>Custo</th>
				<th>Preço/litro</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="abastecimento in relatorioAbastecimentosCtrl.abastecimentos | dateRange: relatorioAbastecimentosCtrl.dataInicio : relatorioAbastecimentosCtrl.dataFim | filter: relatorioAbastecimentosCtrl.filtro:strict">
				<td>{{abastecimento.placa}} - {{abastecimento.modelo}}</td>
				<td>{{abastecimento.data}}</td>
				<td>{{abastecimento.tipoCombustivel}}</td>
				<td>{{abastecimento.valorOdometro}}</td>
				<td>{{abastecimento.quantidadeLitros}}</td>
				<td>{{abastecimento.custoTotal}}</td>
				<td>{{abastecimento.precoLitro}}</td>
			</tr>
		</tbody>
	</table>
</div>